Insurance/Service References/InsuranceBusiness/InsuranceDAL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InsuranceDAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InsuranceDAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComboBoxDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GET_LIST_DISTRICT" type="xs:boolean" />
      <xs:element minOccurs="0" name="GET_LIST_GROUP_ARISING_TYPE" type="xs:boolean" />
      <xs:element minOccurs="0" name="GET_LIST_PROVINCE" type="xs:boolean" />
      <xs:element minOccurs="0" name="LIST_LIST_DISTRICT" nillable="true" type="tns:ArrayOfHU_DISTRICTDTO" />
      <xs:element minOccurs="0" name="LIST_LIST_GROUP_ARISING_TYPE" nillable="true" type="tns:ArrayOfOT_OTHERLIST_DTO" />
      <xs:element minOccurs="0" name="LIST_LIST_PROVINCE" nillable="true" type="tns:ArrayOfHU_PROVINCEDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComboBoxDataDTO" nillable="true" type="tns:ComboBoxDataDTO" />
  <xs:complexType name="ArrayOfHU_DISTRICTDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HU_DISTRICTDTO" nillable="true" type="tns:HU_DISTRICTDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHU_DISTRICTDTO" nillable="true" type="tns:ArrayOfHU_DISTRICTDTO" />
  <xs:complexType name="HU_DISTRICTDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="actflg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="created_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="created_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="created_log" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modified_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modified_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="modified_log" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name_en" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name_vn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province_id" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HU_DISTRICTDTO" nillable="true" type="tns:HU_DISTRICTDTO" />
  <xs:complexType name="ArrayOfOT_OTHERLIST_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OT_OTHERLIST_DTO" nillable="true" type="tns:OT_OTHERLIST_DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOT_OTHERLIST_DTO" nillable="true" type="tns:ArrayOfOT_OTHERLIST_DTO" />
  <xs:complexType name="OT_OTHERLIST_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATTRIBUTE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATTRIBUTE2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATTRIBUTE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATTRIBUTE4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE_ID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OT_OTHERLIST_DTO" nillable="true" type="tns:OT_OTHERLIST_DTO" />
  <xs:complexType name="ArrayOfHU_PROVINCEDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HU_PROVINCEDTO" nillable="true" type="tns:HU_PROVINCEDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHU_PROVINCEDTO" nillable="true" type="tns:ArrayOfHU_PROVINCEDTO" />
  <xs:complexType name="HU_PROVINCEDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="actflg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="created_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="created_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="created_log" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:decimal" />
      <xs:element minOccurs="0" name="modified_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modified_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="modified_log" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name_en" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name_vn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nation_id" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HU_PROVINCEDTO" nillable="true" type="tns:HU_PROVINCEDTO" />
  <xs:complexType name="ArrayOfINS_WHEREHEALTHDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="INS_WHEREHEALTHDTO" nillable="true" type="tns:INS_WHEREHEALTHDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfINS_WHEREHEALTHDTO" nillable="true" type="tns:ArrayOfINS_WHEREHEALTHDTO" />
  <xs:complexType name="INS_WHEREHEALTHDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRICT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_DISTRICT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_PROVINCE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCE_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="INS_WHEREHEALTHDTO" nillable="true" type="tns:INS_WHEREHEALTHDTO" />
  <xs:complexType name="ArrayOfINS_ENTITLED_TYPE_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="INS_ENTITLED_TYPE_DTO" nillable="true" type="tns:INS_ENTITLED_TYPE_DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfINS_ENTITLED_TYPE_DTO" nillable="true" type="tns:ArrayOfINS_ENTITLED_TYPE_DTO" />
  <xs:complexType name="INS_ENTITLED_TYPE_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CHANGE_TYPE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHANGE_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DAY_OFF_SUMMARY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ENJOY_LEVEL" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GROUP_ARISING_TYPE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GROUP_ARISING_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="INS_ENTITLED_TYPE_DTO" nillable="true" type="tns:INS_ENTITLED_TYPE_DTO" />
</xs:schema>