Performance/Service References/PerformanceBusiness/PerformanceBusiness4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/PerformanceBusiness.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:9999/PerformanceBusiness.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PerformanceDAL" />
  <xs:import schemaLocation="http://localhost:9999/PerformanceBusiness.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Framework.Data" />
  <xs:element name="TestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistInDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstID" nillable="true" type="q1:ArrayOfdecimal" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="table" type="q2:PerformanceCommon.TABLE_NAME" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExistInDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckExistInDatabaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sLang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isBlank" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOtherListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeriodList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isBlank" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeriodListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPeriodListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isBlank" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetObjectGroupListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectGroupByPeriodList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodID" type="xs:decimal" />
        <xs:element minOccurs="0" name="isBlank" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectGroupByPeriodListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetObjectGroupByPeriodListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriteriaByObjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectID" type="xs:decimal" />
        <xs:element minOccurs="0" name="isBlank" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriteriaByObjectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCriteriaByObjectListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListEmployeePortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q3:EmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListEmployeePortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetListEmployeePortalResult" nillable="true" type="q4:ArrayOfEmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q5:CriteriaDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetCriteriaResult" nillable="true" type="q6:ArrayOfCriteriaDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objCriteria" nillable="true" type="q7:CriteriaDTO" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q8:UserLog" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCriteriaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objCriteria" nillable="true" type="q9:CriteriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateCriteriaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objCriteria" nillable="true" type="q10:CriteriaDTO" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q11:UserLog" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyCriteriaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstID" nillable="true" type="q12:ArrayOfdecimal" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q13:UserLog" />
        <xs:element minOccurs="0" name="bActive" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveCriteriaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstCriteria" nillable="true" type="q14:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCriteriaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q15:ClassificationDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetClassificationResult" nillable="true" type="q16:ArrayOfClassificationDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClassification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objClassification" nillable="true" type="q17:ClassificationDTO" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q18:UserLog" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClassificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertClassificationResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateClassification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objClassification" nillable="true" type="q19:ClassificationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateClassificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateClassificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyClassification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objClassification" nillable="true" type="q20:ClassificationDTO" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q21:UserLog" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyClassificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyClassificationResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveClassification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstID" nillable="true" type="q22:ArrayOfdecimal" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q23:UserLog" />
        <xs:element minOccurs="0" name="bActive" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveClassificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveClassificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClassification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstClassification" nillable="true" type="q24:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClassificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClassificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q25:ObjectGroupDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetObjectGroupResult" nillable="true" type="q26:ArrayOfObjectGroupDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertObjectGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objObjectGroup" nillable="true" type="q27:ObjectGroupDTO" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q28:UserLog" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertObjectGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertObjectGroupResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateObjectGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objObjectGroup" nillable="true" type="q29:ObjectGroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateObjectGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateObjectGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyObjectGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objObjectGroup" nillable="true" type="q30:ObjectGroupDTO" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q31:UserLog" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyObjectGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyObjectGroupResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveObjectGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstID" nillable="true" type="q32:ArrayOfdecimal" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q33:UserLog" />
        <xs:element minOccurs="0" name="bActive" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveObjectGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveObjectGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteObjectGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstObjectGroup" nillable="true" type="q34:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteObjectGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteObjectGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q35:PeriodDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetPeriodResult" nillable="true" type="q36:ArrayOfPeriodDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeriodById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q37:PeriodDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeriodByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetPeriodByIdResult" nillable="true" type="q38:ArrayOfPeriodDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objPeriod" nillable="true" type="q39:PeriodDTO" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q40:UserLog" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPeriodResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objPeriod" nillable="true" type="q41:PeriodDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidatePeriodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objPeriod" nillable="true" type="q42:PeriodDTO" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q43:UserLog" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPeriodResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstID" nillable="true" type="q44:ArrayOfdecimal" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q45:UserLog" />
        <xs:element minOccurs="0" name="bActive" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivePeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivePeriodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstPeriod" nillable="true" type="q46:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePeriodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectGroupNotByPeriodID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q47:ObjectGroupPeriodDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectGroupNotByPeriodIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetObjectGroupNotByPeriodIDResult" nillable="true" type="q48:ArrayOfObjectGroupPeriodDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectGroupByPeriodID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q49:ObjectGroupPeriodDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectGroupByPeriodIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetObjectGroupByPeriodIDResult" nillable="true" type="q50:ArrayOfObjectGroupPeriodDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertObjectGroupByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="lst" nillable="true" type="q51:ArrayOfObjectGroupPeriodDTO" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q52:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertObjectGroupByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertObjectGroupByPeriodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteObjectGroupByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lst" nillable="true" type="q53:ArrayOfdecimal" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q54:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteObjectGroupByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteObjectGroupByPeriodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriteriaNotByObjectGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q55:CriteriaObjectGroupDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriteriaNotByObjectGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetCriteriaNotByObjectGroupIDResult" nillable="true" type="q56:ArrayOfCriteriaObjectGroupDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriteriaByObjectGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q57:CriteriaObjectGroupDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriteriaByObjectGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetCriteriaByObjectGroupIDResult" nillable="true" type="q58:ArrayOfCriteriaObjectGroupDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCriteriaByObjectGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="lst" nillable="true" type="q59:ArrayOfCriteriaObjectGroupDTO" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q60:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCriteriaByObjectGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCriteriaByObjectGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCriteriaByObjectGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lst" nillable="true" type="q61:ArrayOfdecimal" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q62:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCriteriaByObjectGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCriteriaByObjectGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeNotByObjectGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q63:EmployeeAssessmentDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q64:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeNotByObjectGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetEmployeeNotByObjectGroupIDResult" nillable="true" type="q65:ArrayOfEmployeeAssessmentDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByObjectGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q66:EmployeeAssessmentDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByObjectGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetEmployeeByObjectGroupIDResult" nillable="true" type="q67:ArrayOfEmployeeAssessmentDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployeeByObjectGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="lst" nillable="true" type="q68:ArrayOfEmployeeAssessmentDTO" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q69:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployeeByObjectGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEmployeeByObjectGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeByObjectGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lst" nillable="true" type="q70:ArrayOfdecimal" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q71:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeByObjectGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmployeeByObjectGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="group_obj_id" type="xs:decimal" />
        <xs:element minOccurs="0" name="period_id" type="xs:decimal" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q72:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeImportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriteriaImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="group_obj_id" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriteriaImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCriteriaImportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportEmployeeAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtData" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="periodID" type="xs:decimal" />
        <xs:element minOccurs="0" name="group_obj_ID" type="xs:decimal" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q73:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportEmployeeAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportEmployeeAssessmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeImportAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_param" nillable="true" type="q74:ParamDTO" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="obj" nillable="true" type="q75:PE_EMPLOYEE_ASSESSMENT_DTLDTO" />
        <xs:element minOccurs="0" name="P_PAGE_INDEX" type="xs:decimal" />
        <xs:element minOccurs="0" name="P_PAGE_SIZE" type="xs:decimal" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q76:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeImportAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeImportAssessmentResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPe_Organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q77:PE_ORGANIZATIONDTO" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_param" nillable="true" type="q78:ParamDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q79:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPe_OrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetPe_OrganizationResult" nillable="true" type="q80:ArrayOfPE_ORGANIZATIONDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPe_OrganizationByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q81:PE_ORGANIZATIONDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPe_OrganizationByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetPe_OrganizationByIDResult" nillable="true" type="q82:PE_ORGANIZATIONDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPe_Organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objData" nillable="true" type="q83:PE_ORGANIZATIONDTO" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q84:UserLog" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPe_OrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPe_OrganizationResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPe_Organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objData" nillable="true" type="q85:PE_ORGANIZATIONDTO" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q86:UserLog" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPe_OrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPe_OrganizationResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePe_Organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstID" nillable="true" type="q87:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePe_OrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePe_OrganizationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCriteriaObjectGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="lst" nillable="true" type="q88:ArrayOfCriteriaObjectGroupDTO" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q89:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCriteriaObjectGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCriteriaObjectGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q90:AssessmentDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetAssessmentResult" nillable="true" type="q91:ArrayOfAssessmentDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="objAssessment" nillable="true" type="q92:AssessmentDTO" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q93:UserLog" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyAssessmentResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusEmployeeAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="obj" nillable="true" type="q94:AssessmentDTO" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q95:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusEmployeeAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusEmployeeAssessmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalPointRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_filter" nillable="true" type="q96:AssessmentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalPointRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalPointRatingResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentDirect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_empId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentDirectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetAssessmentDirectResult" nillable="true" type="q97:ArrayOfAssessmentDirectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusAssessmentDirect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obj" type="xs:decimal" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q98:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusAssessmentDirectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusAssessmentDirectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIAssessEmp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_empId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPIAssessEmpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetKPIAssessEmpResult" nillable="true" type="q99:ArrayOfAssessmentDirectDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectKPIEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="filter" nillable="true" type="q100:AssessmentDirectDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="_param" nillable="true" type="q101:ParamDTO" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q102:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectKPIEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetDirectKPIEmployeeResult" nillable="true" type="q103:ArrayOfAssessmentDirectDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessRatingEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="filter" nillable="true" type="q104:AssessRatingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessRatingEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetAssessRatingEmployeeResult" nillable="true" type="q105:ArrayOfAssessRatingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessRatingEmployeeOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="filter" nillable="true" type="q106:AssessRatingDTO" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q107:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessRatingEmployeeOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetAssessRatingEmployeeOrgResult" nillable="true" type="q108:ArrayOfAssessRatingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticKPIByClassification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_periodId" type="xs:int" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q109:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticKPIByClassificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetStatisticKPIByClassificationResult" nillable="true" type="q110:ArrayOfStatisticDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticKPIByClassifiOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_periodId" type="xs:int" />
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q111:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticKPIByClassifiOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatisticKPIByClassifiOrgResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticClassification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticClassificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/PerformanceDAL" minOccurs="0" name="GetStatisticClassificationResult" nillable="true" type="q112:ArrayOfClassificationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticKPISeniority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_periodId" type="xs:int" />
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q113:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticKPISeniorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatisticKPISeniorityResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>