Common/Service References/CommonBusiness/CommonBusiness6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Framework.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Framework.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="SystemConfig.ModuleID">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="iProfile" />
      <xs:enumeration value="iTime" />
      <xs:enumeration value="iPayroll" />
      <xs:enumeration value="iPortal" />
      <xs:enumeration value="iSecure" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SystemConfig.ModuleID" nillable="true" type="tns:SystemConfig.ModuleID" />
  <xs:complexType name="UserLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLog" nillable="true" type="tns:UserLog" />
  <xs:complexType name="AccessLogFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessLogFilter" nillable="true" type="tns:AccessLogFilter" />
  <xs:complexType name="ArrayOfAccessLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccessLog" nillable="true" type="tns:AccessLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccessLog" nillable="true" type="tns:ArrayOfAccessLog" />
  <xs:complexType name="AccessLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessFunctions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogoutDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogoutStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessLog" nillable="true" type="tns:AccessLog" />
  <xs:complexType name="ActionLogFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionLogFilter" nillable="true" type="tns:ActionLogFilter" />
  <xs:complexType name="ArrayOfActionLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActionLog" nillable="true" type="tns:ActionLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActionLog" nillable="true" type="tns:ArrayOfActionLog" />
  <xs:complexType name="ActionLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:decimal" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectId" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ObjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionLog" nillable="true" type="tns:ActionLog" />
  <xs:complexType name="ArrayOfAuditLogDtl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuditLogDtl" nillable="true" type="tns:AuditLogDtl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuditLogDtl" nillable="true" type="tns:ArrayOfAuditLogDtl" />
  <xs:complexType name="AuditLogDtl">
    <xs:sequence>
      <xs:element minOccurs="0" name="COL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEW_VALUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OLD_VALUE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditLogDtl" nillable="true" type="tns:AuditLogDtl" />
</xs:schema>