36. Services/Histaff_Services/HiStaffService.Service/Web References/LiveTrade/LiveTradeInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcessMain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXMLIN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessMainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessMainResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessMainSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessMain" />
  </wsdl:message>
  <wsdl:message name="ProcessMainSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessMainResponse" />
  </wsdl:message>
  <wsdl:portType name="LiveTradeInterfaceSoap">
    <wsdl:operation name="ProcessMain">
      <wsdl:input message="tns:ProcessMainSoapIn" />
      <wsdl:output message="tns:ProcessMainSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LiveTradeInterfaceSoap" type="tns:LiveTradeInterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessMain">
      <soap:operation soapAction="http://tempuri.org/ProcessMain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LiveTradeInterfaceSoap12" type="tns:LiveTradeInterfaceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessMain">
      <soap12:operation soapAction="http://tempuri.org/ProcessMain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveTradeInterface">
    <wsdl:port name="LiveTradeInterfaceSoap" binding="tns:LiveTradeInterfaceSoap">
      <soap:address location="http://localhost/livetrade/LiveTradeInterface.asmx" />
    </wsdl:port>
    <wsdl:port name="LiveTradeInterfaceSoap12" binding="tns:LiveTradeInterfaceSoap12">
      <soap12:address location="http://localhost/livetrade/LiveTradeInterface.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>